body{
	margin: 0;
	padding: 0;
	background-color: #B17E4F;
	font: 13px "Trebuchet MS",Arial,Helvetica,sans-serif;
    color: #444;
}
.clearfix{
	clear:both;
}
#wrapper{
	width: 950px;
	margin:60px auto 30px auto;
}
#info{
	height: 72px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#info a{
	color: white;
	font-size: 45px;
	text-decoration: none;
	padding:10px 20px;
}
#info p{
	color: #CBB6A4;
	font-size: 15px;
	padding-right: 20px;
}
#all{
	padding: 15px;
	background-color: white;
}
#header #menu ul{
	margin: 0;
	padding: 0;
	background-color: black;
	list-style-type: none;
	display: flex;
	margin-bottom: 15px;
}
#header #menu a{
	width: 184px;
	line-height: 55px;
	display: block;
	text-align: center;
	font-size: 14px;
	color: white;
	text-decoration: none;
}
#header #menu a:hover, #header #menu a.active{
	background-color: #1B3039;
}
#header img{
	width:920px;
}
#all #center #right{
	width: 300px;
	float: right;
}
#all #center #right #list1,
#all #center #right #list2,
#all #center #right #list3{
	background-color:#EFEDE5 ;
	padding: 10px;
}
#all #center #right #list1 h2,
#all #center #right #list2 h2,
#all #center #right #list3 h2{
	background-color: #5D9EBD;
	color: white;
	font-size: 18px;
	margin: 0;
	padding: 10px;
}
#all #center #right #list1 ul,
#all #center #right #list3 ul{
	list-style-type: none;
	font-size: 15px;
	padding: 0;
	color: #96AE3E;
}
#all #center #right #list1 li,
#all #center #right #list3 li{
	padding: 10px;
	border-bottom: 1px solid #E8E6DE;
}
#all #center #right #list1 a,
#all #center #right #list3 a{
	color: #96AE3E;
	text-decoration: none;
}
#all #center #right #list2 p{
	line-height: 2;
	padding: 10px;
}
#all #center #right #list1,
#all #center #right #list2,
#all #center #right #list3{
	margin-top: 20px;
}
#all #center #content{
	width: 620px;
	margin-right: 300px;
	padding: 20px;
	box-sizing: border-box;
}
#all #center #content h2{
	color: #9F6841;
	font-size: 40px;
	margin:0;
}
#all #center #content p{
	line-height: 2;
	margin: 30px 0px;
}
#all #center #content .comment{
	margin: 0;
}
#all #center #content a{
	color: #96AE3E;
	text-decoration: none;
}
#all #footer{
	background-color: #D1E4A7;
	line-height: 70px;
	text-align: center;
}